body {
  box-sizing: border-box;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(#00710f 314px, #ebebeb -100%);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 100vh;
  max-width: 100%;
  position: relative;
}
.container-wrapper .logo {
  display: flex;
  justify-content: center;
  margin-top: 54px;
  margin-bottom: 34px;
}
.container-wrapper .login {
  display: flex;
  justify-content: center;
  color: #707070;
}
.container-wrapper .login-wrapper {
  background-color: white;
  box-shadow: 0 0 5px gray;
  border-radius: 20px;
  width: 650px;
  padding: 34px 40px 40px;
}
.container-wrapper .login-title {
  text-align: center;
  margin-bottom: 34px;
}
.container-wrapper .login-contain {
  display: flex;
}
.container-wrapper .login-left {
  flex: 1;
}
.container-wrapper .login-left .login-social {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #dfdada;
  margin-right: 15px;
}
.container-wrapper .login-left .btn {
  padding: 10px;
  border-radius: 10px;
  margin: 5px 15px 5px 0px;
  display: flex;
  align-items: center;
}
.container-wrapper .login-left .btn span {
  margin-left: 15px;
}
.container-wrapper .login-left .btn-google {
  color: #fa5d5d;
  border: 2px solid #fa5d5d;
}
.container-wrapper .login-left .btn-google:hover {
  background: #fa5d5d;
  color: white;
}
.container-wrapper .login-left .btn-facebook {
  color: #1877f2;
  border: 2px solid #1877f2;
}
.container-wrapper .login-left .btn-facebook:hover {
  background: #1877f2;
  color: white;
}
.container-wrapper .login-left .btn-apple {
  color: rgba(0, 0, 0, 0.87);
  border: 2px solid rgba(0, 0, 0, 0.87);
}
.container-wrapper .login-left .btn-apple:hover {
  background: rgba(0, 0, 0, 0.87);
  color: white;
}
.container-wrapper .login-right {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.container-wrapper .login-right input {
  border: none;
  font-size: 14px;
  padding: 10px 5px;
  margin: 10px 0px;
}
.container-wrapper .login-right .forgot-password {
  text-align: right;
}
.container-wrapper .login-right .forgot-password a {
  color: #00bc2a;
}
.container-wrapper .login-right .forgot-password a:hover {
  color: #01881e;
}
.container-wrapper .login-right .login-button {
  padding: 10px 0px;
  margin: 10px 0px;
  background: #00bc2a;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
.container-wrapper .login-right .register a {
  color: #00bc2a;
}
.container-wrapper .login-right .register a:hover {
  color: #01881e;
}

@media only screen and (max-width: 767px) {
  .container-wrapper .logo {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .container-wrapper .logo img {
    height: 150px;
    width: 150px;
  }
  .container-wrapper .login-contain {
    padding: 40px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
  }
  .container-wrapper .login-left .login-social {
    border-right: none;
    border-bottom: 2px solid #dfdada;
    padding-bottom: 20px;
    margin: 0px;
  }
  .container-wrapper .login-description {
    display: none;
    visibility: hidden;
  }
}

/*# sourceMappingURL=dang-nhap.css.map */
