* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: sans-serif;
}

html, body {
    background: #e4e4e4;
}
a {
    text-decoration: none;
}
.container {
    z-index: 100;
    font-size: 12px;

    .sidebar {
        position: fixed;
        z-index: 200;
        width: 370px;
        height: 100vh;
        background: white;
        box-shadow: 20px 20px 50px 10px rgba(77, 76, 76, 0.5);
        transform: translateX(-150%);
        transition: 0.8s ease-in-out;

        &.active {
            transform: translateX(0%);
        }

        .logo {
            img {
                height: 80px;
                width: 90px;
            }
        }
        .account {
            color: rgba(0,0,0,.87);

            &-wrapper {
                text-align: center;
                padding: 30px;
            }
            &-name {
                font-size: 18px;
                color: rgba(0,0,0,.87);
                font-weight: bold;
            }
        }
       .menu {
           &-action {
               text-align: right;
               padding-right: 10px;
               padding-top: 10px;
               cursor: pointer;
           }
           &-list {
               li {
                color: rgba(0,0,0,.54);
                padding: 20px;
                border-bottom: 1px solid rgb(224, 217, 217);
                display: flex;
                align-items: center;

                &:first-of-type {
                    border-top: 1px solid rgb(224, 217, 217);
                }

                &:hover {
                    cursor: pointer;
                    background: rgb(209, 208, 208);
                }
                &:hover label{
                    cursor: pointer;
                }
                .icon {
                    flex: 1;
                    width: 25px;
                    height: 25px;
                }
                .menu-info {
                    flex: 3;
                    display: flex;
                    justify-content: space-between;
                }
               }

               .chevron {
                    width: 20px;
                    height: 20px;
                }
           }
       }
    }
    
    &-wrapper {
        .left {
            width: 100px;
            position: fixed;
            height: 100vh;
            text-align: center;
            background: white;
            box-shadow: 5px 5px 5px 0px rgba(77, 76, 76, 0.3);
            .menu {
                &-item {
                    padding: 13px 0;
                    a {
                        color: rgba(0,0,0,.54);
                        &:hover {
                            color: #2db84c;
                        }
                    }
                    
                    &.active {
                        a {
                            color: #2db84c;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                        transition: 0.5s ease-in-out;
                        color: rgb(68, 67, 67);
                    }

                    p {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

        .right {
            margin-left: 100px;
            img {
                width: 30px;
                height: 30px;
            }
            
            &-wrapper {
                
                .header {
                    &-wrapper {
                        display: flex;
                        background: white;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 20px;
                        box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.4);
                    }

                    &-left {
                        .wallet {
                            &-wrapper {
                                display: flex;
                                align-items: center;
                            }
                            &-image {
                                img {
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                            &-info {
                                padding-left:20px;
                                position: relative;
                            }
                            &-name {
                                cursor: pointer;
                                font-size: 12px;
                                color: rgba(0,0,0,.87);
                                line-height: 21px;
                                img {
                                    height: 10px;
                                    width: 10px;
                                }
                            }
                            &-amount {
                                font-size: 14px;
                                font-weight: bold;
                            }
                            &-list {
                                transition: 0.5s ease-in-out;
                                background: white;
                                border-radius: 5px;
                                position: absolute;
                                min-width: 150px;
                                width: 250px;
                                padding: 10px;
                                box-shadow: 0 0 10px gray;
                                opacity: 0;
                                visibility: hidden;

                                &.active {
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }

                            &-item {
                                border-bottom: 1px solid rgb(207, 206, 206);
                                padding: 10px;
                                font-size: 12px !important;
                                color: rgba(0,0,0,.54);
                                width: 100%;
                                cursor: pointer;

                                &.title {
                                    text-align: center;
                                    color: rgba(0,0,0,.54);
                                }

                                &--name {
                                    font-size: 14px;
                                    font-weight: bold;
                                    color: black;
                                }

                                &--active {
                                    display: flex;
                                    justify-content: space-between;
                                    width: 100%;
                                    img {
                                        height: 20px !important;
                                        width: 20px !important;
                                        margin: 0px !important;
                                    }
                                }

                                &.detail {
                                    display: flex;
                                    align-items: center;
                                    img {
                                        height: 40px;
                                        width: 40px;
                                        margin-right: 20px;
                                    }

                                    &:hover{
                                        background: rgb(207, 206, 206);;
                                        transition: 0.5s ease-in-out;
                                    }
                                }
                            }
                        }


                    }

                    &-right {
                        .method {
                            display: flex;
                            justify-content: center;
                            
                            &-item {
                                padding: 0 10px;

                                img {
                                    cursor: pointer;
                                    &:hover {
                                        transform: scale(1.05);
                                        transition: 0.5s ease-in-out;
                                    }
                                }
                            }

                            .btn-add-transaction {
                                text-decoration: none;
                                border: 0px;
                                background: #1aa333;
                                padding: 10px;
                                border-radius: 5px;
                                color: white;
                                font-weight: bold;
                                cursor: pointer;
    
                                &:hover {
                                    box-shadow: 0 0 4px gray;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* main */
    .main {
        max-width: 500px;
        background: white;
        margin: 30px auto;
        box-shadow: 0 0 10px rgb(146, 146, 146);
        border-radius: 5px;

        .date-range-wrapper {
            list-style: none;
            display: flex;
            border-bottom: 1px solid rgb(218, 216, 216);
            li {
                flex: 1;
                text-align: center;
                padding: 20px 30px;
                text-transform: uppercase;
                color: rgba(0,0,0,.54);
                font-weight: bold;
                cursor: pointer;

                &.active {
                    color: #2db84c;
                    border-bottom: 3px solid #2db84c;
                }
            }
        }

        .transaction-overview {
            &-item {
                color: #333;

                padding: 10px;
                display: flex;
                justify-content: space-between;

                &.inflow {
                    span {
                        color: #039be5;
                    }
                }
                &.outflow {
                    span {
                        color: #e51c23;
                        padding-bottom: 15px;
                        padding-left: 10px;
                        border-bottom: 1px solid rgb(196, 194, 194);
                    }
                }

                &.total-amount {
                    span {
                        font-size: 16px;
                        font-weight: bold;
                        color: rgb(92, 92, 92);
                    }
                }
            }
        }

        .view-report {
            padding: 20px;
            text-align: center;
            color: #2db84c;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: bold;
        }

        .transaction {
            &-list {
                padding: 10px 20px;
            }

            &-header {
                display: flex;
                margin-top: 20px;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid rgb(201, 196, 196);
                padding: 5px 0px;
                .date-view {
                    display: flex;
                    align-items: center;
                }
                .view-day {
                    font-size: 34px;
                    display: inline-block;
                    color: #333;
                    line-height: 40px;
                    font-weight: 400;
                    width: 48px;
                    margin-right: 8px;
                }

                .view-date {
                    .day {
                        font-size: 12px;
                        display: block;
                        line-height: 14px;
                        color: rgba(0,0,0,.54);
                        font-weight: 700;
                    }
                    .months {
                        font-size: 12px;
                        display: block;
                        line-height: 14px;
                        color: rgba(0,0,0,.54);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
                .amount-view {
                    font-size: 14px;
                    line-height: 20px;
                    color: rgba(0,0,0,.87);
                    font-weight: 700;
                }
            }

            &-detail {
                .item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px 0px;

                    &-image {
                        flex: 1;
                        text-align: center;
                        img{
                            height: 50px;
                            width: 50px;
                        }
                    }
                    .title {
                        margin-left: 10px;
                        flex: 5;

                        &-top {
                            padding-right: 15px;
                            font-size: 14px;
                            color: rgba(63, 61, 61, 0.87);
                            font-weight: bold;
                        }

                        &-bot {
                            padding-top: 5px;
                            color: rgba(0,0,0,.54);
                        }
                    }
                    .amount {
                        color: #e51c23;

                        &.income {
                            color: #039be5;
                        }
                    }
                }
            }

            &-item {

            }
        }
    }
    
    /* End main */
}