* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: sans-serif;
}

html, body {
    background: #e4e4e4;
}
a {
    text-decoration: none;
}
.container {
    z-index: 100;
    font-size: 12px;

    .sidebar {
        position: fixed;
        z-index: 200;
        width: 370px;
        height: 100vh;
        background: white;
        box-shadow: 20px 20px 50px 10px rgba(77, 76, 76, 0.5);
        transform: translateX(-150%);
        transition: 0.8s ease-in-out;

        &.active {
            transform: translateX(0%);
        }

        .logo {
            img {
                height: 80px;
                width: 90px;
            }
        }
        .account {
            color: rgba(0,0,0,.87);

            &-wrapper {
                text-align: center;
                padding: 30px;
            }
            &-name {
                font-size: 18px;
                color: rgba(0,0,0,.87);
                font-weight: bold;
            }
        }
       .menu {
           &-action {
               text-align: right;
               padding-right: 10px;
               padding-top: 10px;
               cursor: pointer;
           }
           &-list {
               a {
                    li {
                        color: rgba(0,0,0,.54);
                        padding: 20px;
                        border-bottom: 1px solid rgb(224, 217, 217);
                        display: flex;
                        align-items: center;
                        &:first-of-type {
                            border-top: 1px solid rgb(224, 217, 217);
                        }
        
                        &:hover {
                            cursor: pointer;
                            background: rgb(209, 208, 208);
                        }
                        &:hover label{
                            cursor: pointer;
                        }
                        .icon {
                            flex: 1;
                            width: 25px;
                            height: 25px;
                        }
                        .menu-info {
                            flex: 3;
                            display: flex;
                            justify-content: space-between;
                        }
                    }
               }

               .chevron {
                    width: 20px;
                    height: 20px;
                }
           }
       }
    }
    
    &-wrapper {
        .left {
            width: 100px;
            position: fixed;
            height: 100vh;
            text-align: center;
            background: white;
            box-shadow: 5px 5px 5px 0px rgba(77, 76, 76, 0.3);
            .menu {
                &-item {
                    padding: 13px 0;
                    a {
                        color: rgba(0,0,0,.54);
                        &:hover {
                            color: #2db84c;
                        }
                    }
                    
                    &.active {
                        p {
                            color: #2db84c;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                        transition: 0.5s ease-in-out;
                        color: rgb(68, 67, 67);
                    }

                    p {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

        .right {
            margin-left: 100px;
            img {
                width: 30px;
                height: 30px;
            }
            
            &-wrapper {
                
                .header {
                    &-wrapper {
                        display: flex;
                        background: white;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 20px;
                        box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.4);
                    }

                    &-left {
                        .wallet {
                            &-wrapper {
                                display: flex;
                                align-items: center;
                            }
                            &-image {
                                img {
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                            &-info {
                                padding-left:20px;
                                position: relative;
                            }
                            &-name {
                                cursor: pointer;
                                font-size: 12px;
                                color: rgba(0,0,0,.87);
                                line-height: 21px;
                                img {
                                    height: 10px;
                                    width: 10px;
                                }
                            }
                            &-amount {
                                font-size: 14px;
                                font-weight: bold;
                            }
                            &-list {
                                transition: 0.5s ease-in-out;
                                background: white;
                                border-radius: 5px;
                                position: absolute;
                                min-width: 150px;
                                width: 250px;
                                padding: 10px;
                                box-shadow: 0 0 10px gray;
                                opacity: 0;
                                visibility: hidden;

                                &.active {
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }

                            &-item {
                                border-bottom: 1px solid rgb(207, 206, 206);
                                padding: 10px;
                                font-size: 12px !important;
                                color: rgba(0,0,0,.54);
                                width: 100%;
                                cursor: pointer;

                                &.title {
                                    text-align: center;
                                    color: rgba(0,0,0,.54);
                                }

                                &--name {
                                    font-size: 14px;
                                    font-weight: bold;
                                    color: black;
                                }

                                &--active {
                                    display: flex;
                                    justify-content: space-between;
                                    width: 100%;
                                    img {
                                        height: 20px !important;
                                        width: 20px !important;
                                        margin: 0px !important;
                                    }
                                }

                                &.detail {
                                    display: flex;
                                    align-items: center;
                                    img {
                                        height: 40px;
                                        width: 40px;
                                        margin-right: 20px;
                                    }

                                    &:hover{
                                        background: rgb(207, 206, 206);;
                                        transition: 0.5s ease-in-out;
                                    }
                                }
                            }
                        }


                    }

                    &-right {
                        .method {
                            display: flex;
                            justify-content: center;
                            
                            &-item {
                                padding: 0 10px;

                                img {
                                    cursor: pointer;
                                    &:hover {
                                        transform: scale(1.05);
                                        transition: 0.5s ease-in-out;
                                    }
                                }
                            }

                            .btn-add-transaction {
                                text-decoration: none;
                                border: 0px;
                                background: #1aa333;
                                padding: 10px;
                                border-radius: 5px;
                                color: white;
                                font-weight: bold;
                                cursor: pointer;
    
                                &:hover {
                                    box-shadow: 0 0 4px gray;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* main */
    .main {
        color: rgba(0,0,0,.54);
        padding: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .income {
            color: #039be5;
        }

        .expense {
            color: red;
        }

        &-left {
            width: 40%;
            background: white;
            box-shadow: 0 0 5px gray;
            margin-right: 20px;

            .menu-tabs {
                padding-top: 10px;
                border-bottom: 1px solid rgb(218, 215, 215);
                .menu-tab-item {
                    display: inline-block;
                    padding: 15px 20px;
                    text-transform: uppercase;
                    font-weight: bold;

                    &.active {
                        border-bottom: 2px solid #2db84c;
                        color: #2db84c;
                    }
                }
            }
        }

        .buget {
            &-date {
                border-bottom: 1px solid rgb(223, 219, 219);
                display: flex;
                justify-content: space-between;
                padding: 10px;
                font-size: 12px !important;
                color: rgba(0,0,0,.54);

                .date {
                    &-amount {
                        text-align: right;
                    }
                }
            }

            &-content {
                padding: 15px 10px;
                display: flex;
                align-items: center;
                flex: 1 auto;
                border-bottom: 1px solid rgb(223, 219, 219);
                background: rgba(17, 168, 50, 0.08);
                cursor: pointer;

                &:hover {
                    background: rgba(17, 168, 50, 0.2);
                    transition: 0.3s ease-in-out;
                }

                .content{
                    &-body {
                        width: 100%;
                    }

                    &-image {
                        margin-right: 20px;
                    }

                    &-title {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        text-align: right;
                    }

                    &-time-line {
                        .time-line {
                            width: 100%;
                            height: 5px;
                            border-radius: 5px;
                            background: #dbd8d8;
                        }

                        .today {
                            background: gray;
                            width: fit-content;
                            padding: 3px 5px;
                            border-radius: 5px;
                            color: white;
                            margin-left: 50%;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
        .add-more {
            padding: 15px;
            text-align: center;
            text-transform: uppercase;
            color: #2db84c;
            font-weight: bold;
            display: block;
            cursor: pointer;
        }

        &-right {
            width: 55%;
            background: white;
            box-shadow: 0 0 5px gray;
            margin-right: 10px;
            position: relative;
            z-index: 500;
            overflow-x: hidden;

            .header {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid rgb(224, 219, 219);
                padding: 0px 20px;
                &-left {
                    padding: 10px 0px;
                    display: flex;
                    align-items: center;

                    p {
                        margin-left: 20px;
                        font-weight: bold;
                        font-size: 20px;
                        color: rgb(66, 64, 64);
                    }
                }

                &-right {
                    display: flex;
                    justify-content: center;

                    .button-method {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        span {
                            padding: 10px 25px;
                            font-size: 16px;
                            font-weight: bold;
                            margin-right: 5px;
                        }

                        .btn {
                            border-radius: 5px;
                        }
                        
                        .btn-delete {
                            color: #f25a5a;
                            &:hover {
                                background: rgba(240, 55, 55, 0.3);
                            }
                        }

                        .btn-edit {
                            color: #2db84c;
                            &:hover {
                                background: rgba(45, 184, 76, 0.3);
                            }
                        }
                    }
                }
            }
            .detail {
                &-content {
                    padding: 20px;
                    display: flex;
                }

                &-icon {
                    padding: 20px;
                }

                &-info {
                    .bugdet-name {
                        font-size: 24px;
                        color: rgba(0,0,0,.87);
                        line-height: 32px;
                        font-weight: bold;
                    }

                    .name-account {
                        color: rgba(0,0,0,.87);
                        font-size: 14px;
                        line-height: 20px;
                    }

                    .text-small {
                        color: rgba(0,0,0,.54);
                        font-size: 12px;
                        line-height: 14px;
                    }

                    .total-amount {
                        color: rgba(0,0,0,.87);
                        font-size: 24px;
                        line-height: 32px;
                        margin-bottom: 16px;
                    }
                }

                &-chart {
                    img {
                        width: 100%;
                        height: 250px;
                    }
                }
            }
           
            .view-more {
                color: #2db84c;
                font-size: 14px;
                font-weight: bold;
                line-height: 16px;
                text-align: center;
                text-transform: uppercase;
                padding: 16px 0;
                border-top: 1px solid rgb(209, 204, 204);
            }
            
        }
    }
    /* End main */
}


@media only screen and (max-width: 767px) {
    .container {
        .main {
            display: block;
            &-left {
                width: 100%;
                margin-bottom: 20px;
            }
    
            &-right {
                width: 100%;
            }
        }
    }
}