* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: sans-serif;
}

html, body {
    background: #e4e4e4;
}

a {
    text-decoration: none;
}

.container {
    z-index: 100;
    font-size: 12px;

    .sidebar {
        position: fixed;
        z-index: 200;
        width: 370px;
        height: 100vh;
        background: white;
        box-shadow: 20px 20px 50px 10px rgba(77, 76, 76, 0.5);
        transform: translateX(-150%);
        transition: 0.8s ease-in-out;

        &.active {
            transform: translateX(0%);
        }

        .logo {
            img {
                height: 80px;
                width: 90px;
            }
        }
        .account {
            color: rgba(0,0,0,.87);

            &-wrapper {
                text-align: center;
                padding: 30px;
            }
            &-name {
                font-size: 18px;
                color: rgba(0,0,0,.87);
                font-weight: bold;
            }
        }
       .menu {
           &-action {
               text-align: right;
               padding-right: 10px;
               padding-top: 10px;
               cursor: pointer;
           }
           &-list {
               li {
                color: rgba(0,0,0,.54);
                padding: 20px;
                border-bottom: 1px solid rgb(224, 217, 217);
                display: flex;
                align-items: center;

                &:first-of-type {
                    border-top: 1px solid rgb(224, 217, 217);
                }

                &:hover {
                    cursor: pointer;
                    background: rgb(209, 208, 208);
                }
                &:hover label{
                    cursor: pointer;
                }
                .icon {
                    flex: 1;
                    width: 25px;
                    height: 25px;
                }
                .menu-info {
                    flex: 3;
                    display: flex;
                    justify-content: space-between;
                }
               }

               .chevron {
                    width: 20px;
                    height: 20px;
                }
           }
       }
    }
    
    &-wrapper {
        .left {
            width: 100px;
            position: fixed;
            height: 100vh;
            text-align: center;
            background: white;
            box-shadow: 5px 5px 5px 0px rgba(77, 76, 76, 0.3);
            .menu {
                &-item {
                    padding: 13px 0;
                    a {
                        color: rgba(0,0,0,.54);
                        &:hover {
                            color: #2db84c;
                        }
                    }
                    
                    &.active {
                        p {
                            color: #2db84c;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                        transition: 0.5s ease-in-out;
                        color: rgb(68, 67, 67);
                    }

                    p {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

        .right {
            margin-left: 100px;
            img {
                width: 30px;
                height: 30px;
            }
            
            &-wrapper {
                
                .header {
                    &-wrapper {
                        display: flex;
                        background: white;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 20px;
                        box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.4);
                    }

                    &-left {
                        .wallet {
                            &-wrapper {
                                display: flex;
                                align-items: center;
                            }
                            &-image {
                                img {
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                            &-info {
                                padding-left:20px;
                                position: relative;
                            }
                            &-name {
                                cursor: pointer;
                                font-size: 12px;
                                color: rgba(0,0,0,.87);
                                line-height: 21px;
                                img {
                                    height: 10px;
                                    width: 10px;
                                }
                            }
                            &-amount {
                                font-size: 14px;
                                font-weight: bold;
                            }
                            &-list {
                                transition: 0.5s ease-in-out;
                                background: white;
                                border-radius: 5px;
                                position: absolute;
                                min-width: 150px;
                                width: 250px;
                                padding: 10px;
                                box-shadow: 0 0 10px gray;
                                opacity: 0;
                                visibility: hidden;

                                &.active {
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }

                            &-item {
                                border-bottom: 1px solid rgb(207, 206, 206);
                                padding: 10px;
                                font-size: 12px !important;
                                color: rgba(0,0,0,.54);
                                width: 100%;
                                cursor: pointer;

                                &.title {
                                    text-align: center;
                                    color: rgba(0,0,0,.54);
                                }

                                &--name {
                                    font-size: 14px;
                                    font-weight: bold;
                                    color: black;
                                }

                                &--active {
                                    display: flex;
                                    justify-content: space-between;
                                    width: 100%;
                                    img {
                                        height: 20px !important;
                                        width: 20px !important;
                                        margin: 0px !important;
                                    }
                                }

                                &.detail {
                                    display: flex;
                                    align-items: center;
                                    img {
                                        height: 40px;
                                        width: 40px;
                                        margin-right: 20px;
                                    }

                                    &:hover{
                                        background: rgb(207, 206, 206);;
                                        transition: 0.5s ease-in-out;
                                    }
                                }
                            }
                        }


                    }

                    &-right {
                        .method {
                            display: flex;
                            justify-content: center;
                            
                            &-item {
                                padding: 0 10px;

                                img {
                                    cursor: pointer;
                                    &:hover {
                                        transform: scale(1.05);
                                        transition: 0.5s ease-in-out;
                                    }
                                }
                            }

                            .btn-add-transaction {
                                text-decoration: none;
                                border: 0px;
                                background: #1aa333;
                                padding: 10px;
                                border-radius: 5px;
                                color: white;
                                font-weight: bold;
                                cursor: pointer;
    
                                &:hover {
                                    box-shadow: 0 0 4px gray;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* main */
   .main {
       margin-top: 20px;
       color: rgba(0,0,0,.54);

       .add-transaction {
           max-width: 850px;
           border-radius: 10px;
           background: white;
           margin: 0 auto;
           padding: 20px;

           .title {
               padding: 20px 0px;
               border-bottom: 1px solid rgb(209, 208, 208);
               font-size: 20px;
               color: rgba(0,0,0,.87);
           }

           form {
               padding: 20px;

           }

           .form-input-group {
               border: 1px solid rgb(204, 200, 200);
               margin: 5px;
               border-radius: 5px;
               padding: 5px;
               height: 64px;
               cursor: pointer;

               &.image {
                   height: 100%;
               }

               .right-chevron {
                   width: 15px;
                   height: 15px;
               }

               .select-item {
                   display: flex;
                   align-items: center;
                   justify-content: space-between;

                   &--icon {
                       flex: 1;
                       height: 20px;
                       width: 20px;
                   }

                   &--right {
                        flex: 3;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                   }

                   input {
                       width: 100%;
                       border: none;
                       padding:3px 0px;
                   }
               }
           }

           .not-include-report {
               display: flex;
               padding: 20px 0px;
               input {
                   margin-right: 20px;
               }

               .report-title {
                   font-weight: bold;
                   color: rgba(56, 55, 55, 0.87);
                   margin-bottom: 10px;
               }
           }

           .btn {
               background: #2db84c;
               padding: 10px 30px;
               border: none;
               border-radius: 5px;
               color: white;
               font-weight: 18px;
               font-weight: bold;
               text-transform: uppercase;
           }

           .btn-default {
               background: white;
               color: #2db84c;
           }

           .btn-wrapper {
               text-align: right;
           }
       }
   }
    /*end main */
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-8 {
        width: 66.67%;
    }

    .col-md-9 {
        width: 75%;
    }
    .col-md-12 {
        width: 100%;
    }
}

