* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: sans-serif;
}

html, body {
    background: #e4e4e4;
}
a {
    text-decoration: none;
}
.container {
    z-index: 100;
    font-size: 12px;

    .sidebar {
        position: fixed;
        z-index: 200;
        width: 370px;
        height: 100vh;
        background: white;
        box-shadow: 20px 20px 50px 10px rgba(77, 76, 76, 0.5);
        transform: translateX(-150%);
        transition: 0.8s ease-in-out;

        &.active {
            transform: translateX(0%);
        }

        .logo {
            img {
                height: 80px;
                width: 90px;
            }
        }
        .account {
            color: rgba(0,0,0,.87);

            &-wrapper {
                text-align: center;
                padding: 30px;
            }
            &-name {
                font-size: 18px;
                color: rgba(0,0,0,.87);
                font-weight: bold;
            }
        }
       .menu {
           &-action {
               text-align: right;
               padding-right: 10px;
               padding-top: 10px;
               cursor: pointer;
           }
           &-list {
               a {
                    li {
                        color: rgba(0,0,0,.54);
                        padding: 20px;
                        border-bottom: 1px solid rgb(224, 217, 217);
                        display: flex;
                        align-items: center;
        
                        &:first-of-type {
                            border-top: 1px solid rgb(224, 217, 217);
                        }
        
                        &:hover {
                            cursor: pointer;
                            background: rgb(209, 208, 208);
                        }
                        &:hover label{
                            cursor: pointer;
                        }
                        .icon {
                            flex: 1;
                            width: 25px;
                            height: 25px;
                        }
                        .menu-info {
                            flex: 3;
                            display: flex;
                            justify-content: space-between;
                        }
                    }
               }

               .chevron {
                    width: 20px;
                    height: 20px;
                }
           }
       }
    }
    
    &-wrapper {
        .left {
            width: 100px;
            position: fixed;
            height: 100vh;
            text-align: center;
            background: white;
            box-shadow: 5px 5px 5px 0px rgba(77, 76, 76, 0.3);
            .menu {
                &-item {
                    padding: 13px 0;
                    a {
                        color: rgba(0,0,0,.54);
                        &:hover {
                            color: #2db84c;
                        }
                    }
                    
                    &.active {
                        p {
                            color: #2db84c;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                        transition: 0.5s ease-in-out;
                        color: rgb(68, 67, 67);
                    }

                    p {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

        .right {
            margin-left: 100px;
            img {
                width: 30px;
                height: 30px;
            }
            
            &-wrapper {
                
                .header {
                    &-wrapper {
                        display: flex;
                        background: white;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 20px;
                        box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.4);
                    }

                    &-left {
                        .wallet {
                            &-wrapper {
                                display: flex;
                                align-items: center;
                            }
                            &-image {
                                img {
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                            &-info {
                                padding-left:20px;
                                position: relative;
                            }
                            &-name {
                                cursor: pointer;
                                font-size: 12px;
                                color: rgba(0,0,0,.87);
                                line-height: 21px;
                                img {
                                    height: 10px;
                                    width: 10px;
                                }
                            }
                            &-amount {
                                font-size: 14px;
                                font-weight: bold;
                            }
                            &-list {
                                transition: 0.5s ease-in-out;
                                background: white;
                                border-radius: 5px;
                                position: absolute;
                                min-width: 150px;
                                width: 250px;
                                padding: 10px;
                                box-shadow: 0 0 10px gray;
                                opacity: 0;
                                visibility: hidden;

                                &.active {
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }

                            &-item {
                                border-bottom: 1px solid rgb(207, 206, 206);
                                padding: 10px;
                                font-size: 12px !important;
                                color: rgba(0,0,0,.54);
                                width: 100%;
                                cursor: pointer;

                                &.title {
                                    text-align: center;
                                    color: rgba(0,0,0,.54);
                                }

                                &--name {
                                    font-size: 14px;
                                    font-weight: bold;
                                    color: black;
                                }

                                &--active {
                                    display: flex;
                                    justify-content: space-between;
                                    width: 100%;
                                    img {
                                        height: 20px !important;
                                        width: 20px !important;
                                        margin: 0px !important;
                                    }
                                }

                                &.detail {
                                    display: flex;
                                    align-items: center;
                                    img {
                                        height: 40px;
                                        width: 40px;
                                        margin-right: 20px;
                                    }

                                    &:hover{
                                        background: rgb(207, 206, 206);;
                                        transition: 0.5s ease-in-out;
                                    }
                                }
                            }
                        }


                    }

                    &-right {
                        .method {
                            display: flex;
                            justify-content: center;
                            
                            &-item {
                                padding: 0 10px;

                                img {
                                    cursor: pointer;
                                    &:hover {
                                        transform: scale(1.05);
                                        transition: 0.5s ease-in-out;
                                    }
                                }
                            }

                            .btn-add-transaction {
                                text-decoration: none;
                                border: 0px;
                                background: #1aa333;
                                padding: 10px;
                                border-radius: 5px;
                                color: white;
                                font-weight: bold;
                                cursor: pointer;
    
                                &:hover {
                                    box-shadow: 0 0 4px gray;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* main */
    .faq {
        &-wrapper {
            background: white;
        }

        &-header {
            position: relative;
            color: white;

            .crop-flip {
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(20, 20, 20, 0.5);
                top: 0;
                left: 0;
            }
            img {
                width: 100%;
                height: 400px;
                opacity: 0.8;
            }

            .header-body {
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translateX(-50%) translateY(30%);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h1 {
                    font-size: 40px;
                }

                span {
                    margin: 20px 0px;
                }

                .btn-send-message {
                    cursor: pointer;
                    display: block;
                    background: rgba(35, 182, 67, 0.9);
                    padding: 10px 20px;
                    border-radius: 5px;
                    width: fit-content;

                    &:hover {
                        background: rgba(35, 182, 67, 1);
                    }
                }
            }

        }

        &-menu {
            padding: 30px;
            ul {
                list-style: none;
                display: flex;
                flex: 1;
                justify-content: space-between;

                li {
                    display: flex;
                    flex-direction: column;
                    padding: 5px;
                    text-align: center;
                    cursor: pointer;
                    
                    label {
                        cursor: pointer;
                        span {
                            padding: 5px 10px;
                            width: fit-content;
                            border-radius: 10px;
                            box-shadow: 0 0 5px gray;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100px;
                        border-radius: 10px;
                        filter: grayscale(1);
                        margin-bottom: 10px;
                    }

                    input:checked + label {
                        img {
                            filter: none;
                        }

                        span {
                            background: rgba(3, 185, 37, 0.2);
                            transition: 0.3s ease-in-out;
                        }
                    }

                    input {
                        display: none;
                    }
                }
            }
        }

        &-content {
            padding: 40px;

            .group-title {
                font-size: 20px;
                color: #1e6262;
                font-weight: bold;
                padding: 10px 0px;
            }
        }

        

        &-item {
            .title {
                font-size: 18px;
                padding: 10px 0px;
                margin-bottom: 10px;
                cursor: pointer;

                img {
                    transform: rotate(-90deg);
                    height: 12px;
                    width: 12px;
                    margin-right: 10px;
                }
            }

            &.active .content {
                visibility: visible;                    
                opacity: 1;
                display: block;
                transition: 0.5s ease-in-out;
            }

            &.active .title img {
                transform: rotate(0deg);
            }

            .content {
                visibility: hidden;                    
                opacity: 0;
                display: none;
                padding: 0px 30px;
            }
        }
    }
        
    /* End main */
}