* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: sans-serif;
}

html, body {
  background: #e4e4e4;
}

a {
  text-decoration: none;
}

.container {
  z-index: 100;
  font-size: 12px;
  /* main */
  /* End main */
}
.container .sidebar {
  position: fixed;
  z-index: 200;
  width: 370px;
  height: 100vh;
  background: white;
  box-shadow: 20px 20px 50px 10px rgba(77, 76, 76, 0.5);
  transform: translateX(-150%);
  transition: 0.8s ease-in-out;
}
.container .sidebar.active {
  transform: translateX(0%);
}
.container .sidebar .logo img {
  height: 80px;
  width: 90px;
}
.container .sidebar .account {
  color: rgba(0, 0, 0, 0.87);
}
.container .sidebar .account-wrapper {
  text-align: center;
  padding: 30px;
}
.container .sidebar .account-name {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: bold;
}
.container .sidebar .menu-action {
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
  cursor: pointer;
}
.container .sidebar .menu-list li {
  color: rgba(0, 0, 0, 0.54);
  padding: 20px;
  border-bottom: 1px solid #e0d9d9;
  display: flex;
  align-items: center;
}
.container .sidebar .menu-list li:first-of-type {
  border-top: 1px solid #e0d9d9;
}
.container .sidebar .menu-list li:hover {
  cursor: pointer;
  background: #d1d0d0;
}
.container .sidebar .menu-list li:hover label {
  cursor: pointer;
}
.container .sidebar .menu-list li .icon {
  flex: 1;
  width: 25px;
  height: 25px;
}
.container .sidebar .menu-list li .menu-info {
  flex: 3;
  display: flex;
  justify-content: space-between;
}
.container .sidebar .menu-list .chevron {
  width: 20px;
  height: 20px;
}
.container-wrapper .left {
  width: 100px;
  position: fixed;
  height: 100vh;
  text-align: center;
  background: white;
  box-shadow: 5px 5px 5px 0px rgba(77, 76, 76, 0.3);
}
.container-wrapper .left .menu-item {
  padding: 13px 0;
}
.container-wrapper .left .menu-item a {
  color: rgba(0, 0, 0, 0.54);
}
.container-wrapper .left .menu-item a:hover {
  color: #2db84c;
}
.container-wrapper .left .menu-item.active a {
  color: #2db84c;
}
.container-wrapper .left .menu-item:hover {
  cursor: pointer;
  transition: 0.5s ease-in-out;
  color: #444343;
}
.container-wrapper .left .menu-item p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-wrapper .right {
  margin-left: 100px;
}
.container-wrapper .right img {
  width: 30px;
  height: 30px;
}
.container-wrapper .right-wrapper .header-wrapper {
  display: flex;
  background: white;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.4);
}
.container-wrapper .right-wrapper .header-left .wallet-wrapper {
  display: flex;
  align-items: center;
}
.container-wrapper .right-wrapper .header-left .wallet-image img {
  width: 40px;
  height: 40px;
}
.container-wrapper .right-wrapper .header-left .wallet-info {
  padding-left: 20px;
  position: relative;
}
.container-wrapper .right-wrapper .header-left .wallet-name {
  cursor: pointer;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.87);
  line-height: 21px;
}
.container-wrapper .right-wrapper .header-left .wallet-name img {
  height: 10px;
  width: 10px;
}
.container-wrapper .right-wrapper .header-left .wallet-amount {
  font-size: 14px;
  font-weight: bold;
}
.container-wrapper .right-wrapper .header-left .wallet-list {
  transition: 0.5s ease-in-out;
  background: white;
  border-radius: 5px;
  position: absolute;
  min-width: 150px;
  width: 250px;
  padding: 10px;
  box-shadow: 0 0 10px gray;
  opacity: 0;
  visibility: hidden;
}
.container-wrapper .right-wrapper .header-left .wallet-list.active {
  opacity: 1;
  visibility: visible;
}
.container-wrapper .right-wrapper .header-left .wallet-item {
  border-bottom: 1px solid #cfcece;
  padding: 10px;
  font-size: 12px !important;
  color: rgba(0, 0, 0, 0.54);
  width: 100%;
  cursor: pointer;
}
.container-wrapper .right-wrapper .header-left .wallet-item.title {
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}
.container-wrapper .right-wrapper .header-left .wallet-item--name {
  font-size: 14px;
  font-weight: bold;
  color: black;
}
.container-wrapper .right-wrapper .header-left .wallet-item--active {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container-wrapper .right-wrapper .header-left .wallet-item--active img {
  height: 20px !important;
  width: 20px !important;
  margin: 0px !important;
}
.container-wrapper .right-wrapper .header-left .wallet-item.detail {
  display: flex;
  align-items: center;
}
.container-wrapper .right-wrapper .header-left .wallet-item.detail img {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}
.container-wrapper .right-wrapper .header-left .wallet-item.detail:hover {
  background: #cfcece;
  transition: 0.5s ease-in-out;
}
.container-wrapper .right-wrapper .header-right .method {
  display: flex;
  justify-content: center;
}
.container-wrapper .right-wrapper .header-right .method-item {
  padding: 0 10px;
}
.container-wrapper .right-wrapper .header-right .method-item img {
  cursor: pointer;
}
.container-wrapper .right-wrapper .header-right .method-item img:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}
.container-wrapper .right-wrapper .header-right .method .btn-add-transaction {
  text-decoration: none;
  border: 0px;
  background: #1aa333;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.container-wrapper .right-wrapper .header-right .method .btn-add-transaction:hover {
  box-shadow: 0 0 4px gray;
}
.container .main .faq-wrapper {
  background: white;
}
.container .main .faq-header {
  position: relative;
  color: white;
}
.container .main .faq-header .crop-flip {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.5);
  top: 0;
  left: 0;
}
.container .main .faq-header img {
  width: 100%;
  height: 400px;
  opacity: 0.8;
}
.container .main .faq-header .header-body {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(30%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .main .faq-header .header-body h1 {
  font-size: 40px;
}
.container .main .faq-header .header-body span {
  margin: 20px 0px;
}
.container .main .faq-header .header-body .btn-send-message {
  cursor: pointer;
  display: block;
  background: rgba(35, 182, 67, 0.9);
  padding: 10px 20px;
  border-radius: 5px;
  width: fit-content;
}
.container .main .faq-header .header-body .btn-send-message:hover {
  background: #23b643;
}
.container .main .faq-menu {
  padding: 30px;
}
.container .main .faq-menu ul {
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.container .main .faq-menu ul li {
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}
.container .main .faq-menu ul li label {
  cursor: pointer;
}
.container .main .faq-menu ul li label span {
  padding: 5px 10px;
  width: fit-content;
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
}
.container .main .faq-menu ul li img {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  filter: grayscale(1);
  margin-bottom: 10px;
}
.container .main .faq-menu ul li input:checked + label img {
  filter: none;
}
.container .main .faq-menu ul li input:checked + label span {
  background: rgba(3, 185, 37, 0.2);
  transition: 0.3s ease-in-out;
}
.container .main .faq-menu ul li input {
  display: none;
}
.container .main .faq-content {
  padding: 40px;
}
.container .main .faq-content .group-title {
  font-size: 20px;
  color: #1e6262;
  font-weight: bold;
  padding: 10px 0px;
}
.container .main .faq-item .title {
  font-size: 18px;
  padding: 10px 0px;
  margin-bottom: 10px;
  cursor: pointer;
}
.container .main .faq-item .title img {
  transform: rotate(-90deg);
  height: 12px;
  width: 12px;
  margin-right: 10px;
}
.container .main .faq-item.active .content {
  visibility: visible;
  opacity: 1;
  display: block;
  transition: 0.5s ease-in-out;
}
.container .main .faq-item.active .title img {
  transform: rotate(0deg);
}
.container .main .faq-item .content {
  visibility: hidden;
  opacity: 0;
  display: none;
  padding: 0px 30px;
}

/*# sourceMappingURL=tro-giup.css.map */
