* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: sans-serif;
}

html, body {
    background: #e4e4e4;
}
a {
    text-decoration: none;
}
.container {
    z-index: 100;
    font-size: 12px;

    .sidebar {
        position: fixed;
        z-index: 200;
        width: 370px;
        height: 100vh;
        background: white;
        box-shadow: 20px 20px 50px 10px rgba(77, 76, 76, 0.5);
        transform: translateX(-150%);
        transition: 0.8s ease-in-out;

        &.active {
            transform: translateX(0%);
        }

        .logo {
            img {
                height: 80px;
                width: 90px;
            }
        }
        .account {
            color: rgba(0,0,0,.87);

            &-wrapper {
                text-align: center;
                padding: 30px;
            }
            &-name {
                font-size: 18px;
                color: rgba(0,0,0,.87);
                font-weight: bold;
            }
        }
       .menu {
           &-action {
               text-align: right;
               padding-right: 10px;
               padding-top: 10px;
               cursor: pointer;
           }
           &-list {
               li {
                color: rgba(0,0,0,.54);
                padding: 20px;
                border-bottom: 1px solid rgb(224, 217, 217);
                display: flex;
                align-items: center;
                &:first-of-type {
                    border-top: 1px solid rgb(224, 217, 217);
                }

                &:hover {
                    cursor: pointer;
                    background: rgb(209, 208, 208);
                }
                &:hover label{
                    cursor: pointer;
                }
                .icon {
                    flex: 1;
                    width: 25px;
                    height: 25px;
                }
                .menu-info {
                    flex: 3;
                    display: flex;
                    justify-content: space-between;
                }
               }

               .chevron {
                    width: 20px;
                    height: 20px;
                }
           }
       }
    }
    
    &-wrapper {
        .left {
            width: 100px;
            position: fixed;
            height: 100vh;
            text-align: center;
            background: white;
            box-shadow: 5px 5px 5px 0px rgba(77, 76, 76, 0.3);
            .menu {
                &-item {
                    padding: 13px 0;
                    a {
                        color: rgba(0,0,0,.54);
                        &:hover {
                            color: #2db84c;
                        }
                    }
                    
                    &.active {
                        p {
                            color: #2db84c;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                        transition: 0.5s ease-in-out;
                        color: rgb(68, 67, 67);
                    }

                    p {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

        .right {
            margin-left: 100px;
            img {
                width: 30px;
                height: 30px;
            }
            
            &-wrapper {
                
                .header {
                    &-wrapper {
                        display: flex;
                        background: white;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 20px;
                        box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.4);
                    }

                    &-left {
                        .wallet {
                            &-wrapper {
                                display: flex;
                                align-items: center;
                            }
                            &-image {
                                img {
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                            &-info {
                                padding-left:20px;
                                position: relative;
                            }
                            &-name {
                                cursor: pointer;
                                font-size: 12px;
                                color: rgba(0,0,0,.87);
                                line-height: 21px;
                                img {
                                    height: 10px;
                                    width: 10px;
                                }
                            }
                            &-amount {
                                font-size: 14px;
                                font-weight: bold;
                            }
                            &-list {
                                transition: 0.5s ease-in-out;
                                background: white;
                                border-radius: 5px;
                                position: absolute;
                                min-width: 150px;
                                width: 250px;
                                padding: 10px;
                                box-shadow: 0 0 10px gray;
                                opacity: 0;
                                visibility: hidden;

                                &.active {
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }

                            &-item {
                                border-bottom: 1px solid rgb(207, 206, 206);
                                padding: 10px;
                                font-size: 12px !important;
                                color: rgba(0,0,0,.54);
                                width: 100%;
                                cursor: pointer;

                                &.title {
                                    text-align: center;
                                    color: rgba(0,0,0,.54);
                                }

                                &--name {
                                    font-size: 14px;
                                    font-weight: bold;
                                    color: black;
                                }

                                &--active {
                                    display: flex;
                                    justify-content: space-between;
                                    width: 100%;
                                    img {
                                        height: 20px !important;
                                        width: 20px !important;
                                        margin: 0px !important;
                                    }
                                }

                                &.detail {
                                    display: flex;
                                    align-items: center;
                                    img {
                                        height: 40px;
                                        width: 40px;
                                        margin-right: 20px;
                                    }

                                    &:hover{
                                        background: rgb(207, 206, 206);;
                                        transition: 0.5s ease-in-out;
                                    }
                                }
                            }
                        }


                    }

                    &-right {
                        .method {
                            display: flex;
                            justify-content: center;
                            
                            &-item {
                                padding: 0 10px;

                                img {
                                    cursor: pointer;
                                    &:hover {
                                        transform: scale(1.05);
                                        transition: 0.5s ease-in-out;
                                    }
                                }
                            }

                            .btn-add-transaction {
                                text-decoration: none;
                                border: 0px;
                                background: #1aa333;
                                padding: 10px;
                                border-radius: 5px;
                                color: white;
                                font-weight: bold;
                                cursor: pointer;
    
                                &:hover {
                                    box-shadow: 0 0 4px gray;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* main */
    .main {
        color: rgba(0,0,0,.54);
        padding: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       

        &-left {
            width: 40%;
            background: white;
            box-shadow: 0 0 5px gray;
            margin-right: 15px;

            .wallet {
                &-list {

                }

                &-item {
                    .title {
                        padding: 10px 20px;
                        border-bottom: 1px solid rgb(207, 205, 205);
                    }

                    &--content {
                        padding: 20px;
                        display: flex;
                        cursor: pointer;
                        img {
                            margin-right: 20px;
                        }

                        &:hover {
                            background: rgba(45,184,76,.2);
                            transition: 0.3s ease-in-out;
                        }

                        &.active {
                            background: rgba(45,184,76,.2);
                        }
                    }
                    border-bottom: 1px solid  rgb(207, 205, 205);
                }
            }
        }

      

        &-right {
            width: 55%;
            background: white;
            box-shadow: 0 0 5px gray;
            margin-right: 10px;
            position: relative;
            z-index: 500;
            overflow-x: hidden;

            .header {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid rgb(224, 219, 219);
                padding: 0px 20px;
                &-left {
                    padding: 10px 0px;
                    display: flex;
                    align-items: center;

                    p {
                        margin-left: 20px;
                        font-weight: bold;
                        font-size: 20px;
                        color: rgb(66, 64, 64);
                    }
                }

                &-right {
                    display: flex;
                    justify-content: center;

                    .button-method {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        span {
                            padding: 10px 25px;
                            font-size: 16px;
                            font-weight: bold;
                            margin-right: 5px;
                        }

                        .btn {
                            border-radius: 5px;
                        }
                        
                        .btn-delete {
                            color: #f25a5a;
                            &:hover {
                                background: rgba(240, 55, 55, 0.3);
                            }
                        }

                        .btn-edit {
                            color: #2db84c;
                            &:hover {
                                background: rgba(45, 184, 76, 0.3);
                            }
                        }
                    }
                }
            }

            .wallet {
                &-info {
                    padding: 20px 40px;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid rgb(206, 204, 204);
                    img {
                        margin-right: 20px;
                    }
                }

                &-name {
                    font-size: 22px;
                    font-weight: bold;
                }
            }
            .user {
                padding: 20px 40px;
                line-height: 20px;
                border-bottom: 1px solid rgb(206, 204, 204);

                &-info {
                    padding: 20px 0px;
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 20px;
                    }
                }

                &-name {
                    font-weight: bold;
                }
            }

            .method {
                padding: 20px 40px;
                border-bottom: 1px solid rgb(209, 207, 207);

                &-item {
                    padding: 20px 0px;
                    width: 100%;
                    display: flex;
                    align-items: center;

                    input {
                        margin-right: 20px;
                    }
                  
                    .not-count-total {
                        font-weight: bold;
                    }
                }
            }

            .share {
                ul {
                    list-style: none;
                    li {
                        padding: 15px 40px;
                        text-align: center;
                        color: #2db84c;
                        font-size: 14px;
                        font-weight: bold;
                        text-transform: uppercase;
                        cursor: pointer;
                        border-bottom: 1px solid rgb(209, 207, 207);

                        &:hover {
                            background: rgba(45, 184, 76, 0.3);
                        }
                    }
                }
            }
        }
    }
    /* End main */
}


@media only screen and (max-width: 767px) {
    .container {
        .main {
            display: block;
            &-left {
                width: 100%;
                margin-bottom: 20px;
            }
    
            &-right {
                width: 100%;
            }
        }
    }
}

.modal {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 700;
    background: rgba(202, 202, 202, 0.7);
    visibility: hidden;
    display: none;
    opacity: 0;
    overflow-y: scroll;

    &.active {
        visibility: visible;
        display: block;
        opacity: 1;
    }

    &-wrapper {
        position: relative;
        width: 40%;
        background: white;
        box-shadow: 0 0 20px 1px gray;
        border-radius: 10px;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
      
        
        &.small {
            width: 40%;
        }

        &.medium {
            width: 60%;
        }

        &.large {
            width: 80%;
        }
    }

    &-header {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
        a {
            font-size: 20px;
            font-weight: bold;
            color: gray;

            &:hover {
                color: black;
                transition: 0.3s ease-in-out;
            }
        }
      
    }

    &-content {
        padding: 20px 20px;
        visibility: hidden;
        display: none;
        opacity: 0;

        &.active {
            visibility: visible;
            display: block;
            opacity: 1;
        }
    }
}


#shareWalletContent {
    .header {
        padding: 10px 0px;
        font-size: 20px;
    }
    .email, .message {
        display: flex;
        padding: 10px 0px;
        border-top: 1px solid gray;
        img {
            margin-right: 10px;
            height: 25px;
            width: 25px;
        }
        input, textarea {
            width: 100%;
            font-size: 16px;
            padding: 5px 0px;
            border: none;
        }
    }
    .button-wrapper {
        padding: 10px 0px;
        text-align: right;
        .btn {
            color: #2db84c;
            font-weight: bold;
            padding: 10px 35px;
            margin-left: 10px;
            border: none;
            cursor: pointer;
            background: rgba(26, 163, 51, 0.2);

            &:hover {
                background: rgba(26, 163, 51, 0.3);
            }
        }
    }
}

#transferMoneyContent {
    color: rgba(0,0,0,.54);
    .header {
        padding: 10px 0px;
        font-size: 20px;
    }
   
    .title {
        font-size: 16px;
        font-weight: bold;
        padding: 10px 0px;
    }

    .group {
        display: flex;
        width: 100%;

        .item {
            margin: 5px;
            padding: 5px;
            display: flex;
            flex-direction: column;
            border: 1px solid rgb(209, 205, 205);
            width: 33.33%;
            border-radius: 5px;

            &-note {
                width: 100%;
                input {
                    width: 100%;
                    padding: 5px;
                    font-size: 14px;
                    margin-right: 5px 0px;
                    border: none;
                }
            }

            &-content {
                display: flex;
                padding: 5px 0px;
                img {
                    margin-right: 5px;
                    height: 30px;
                    width: 30px;
                }
                .right-chevron {
                    height: 15px;
                    width: 15px;
                }
                .right {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                }

                input.money{
                    padding: 5px 0px;
                    width: 100%;
                    border: none;
                }
            }
        }
    }
}