<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./dropdown.css">
</head>
<body>
    <div class="dropdown">
        <div class="dropdown-header">
            <label>Ví</label>
            <div>
                <img src="../assets/items/icon12.png" alt="icon">
                <div>
                    <label>Tiền của Tano</label>
                    <img src="../assets/right-chevron.svg" alt="">
                </div>
            </div>
        </div>
        <div class="dropdown-body">

        </div>
    </div>
</body>
</html>