<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./dropdown.css">
</head>
<body>
    <div class="dropdown">
        <div class="dropdown-menu">
            <label class="dropdown-title">Ví</label>
            <div class="dropdown-item">
                <img class="dropdown-item--icon" src="../assets/items/icon12.png" alt="icon">
                <div class="dropdown-item--text">
                    <label>Tiền của Tano</label>
                    <img src="../assets/right-chevron.svg" alt="" class="icon-chevron">
                </div>
            </div>
        </div>
        <div class="dropdown-body active">
            <div class="items">
                <div class="item">
                    <img class="item-icon" src="../assets/items/icon12.png" alt="icon">
                    <div class="item-info">
                        <p class="item-name">Tiền của Tano</p>
                        <p class="item-value">3,234,332</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>